.header {
  margin-bottom: 32px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  color: var(--color--white);
}

.headerTitle{
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.8px;

}

.searchDiv{
  display: flex;
  gap: 32px;
  align-items: center;
}
