* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-dark: #010406;
  --color-medium-dark: #272a2f;
  --color-medium: #394650;
  --color-medium-light: #44525d;
  --color-light: #abbeca;
  --color-white: #fdfdfd;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  color: var(--color-white);
  background: var(--color-dark);
  line-height: 1.25;
  padding: 20px;
  margin: 0 auto;
  max-width: 1440px;
}
